<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="FILE_LOG" fileName="app.log"/>
        <File name="RESULT" fileName="ua-result.log"/>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FILE_LOG"/>
        </Root>
        <Logger name="com.xstudio" level="debug" />
        <Logger name="result" level="info">
            <AppenderRef ref="RESULT" />
        </Logger>
    </Loggers>
</Configuration>
